<%= form_for @order_item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= @order_item.product.title %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </p>
  <p><%= f.submit %></p>
<% end %>
