<% title "All Products" %>

<table>
  <tr>
    <th>Image URL</th>
    <th>Tittle</th>
    <th>Description</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= image_tag "/images/products/#{product.image_url}" %></td>
      <td><span class="product_title"><%= link_to product.title, product_path(product) %></span><%= product.description %></td>
      <td><%= print_price(product.price) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create a New Product", new_product_path %></p>
